.venv/
build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd
__pycache__
.idea/
.vscode/
poetry.lock
.python-version
*.whl
/tools/tmp/*
/site/
tmp.md
prof*.py
pyguiadapterlite/locales/*.mo
examples/locales/
tmp/
zipapp_dist/